


.form-group {margin-left:800px;
	     margin-top:-1600px;
	     position:fixed;
}

.legend{color:black;
	font-size:90px;
	font-weight:bold
	font-family: "Gill Sans", sans-serif;

}

.inputform{
	padding:3px;
	font-size:20px;
	font-weight:bold;
}



