


/* NAVBAR */
nav{background-color:SteelBlue;
	width:100%;
	max-width:100%;
	height:75px;
	margin-top:0;
	margin-left:0;
	border-bottom:2px blue solid;
	border-right:1px blue solid;
	position:sticky;
	z-index:2;	
}

.login-nav{right:0%;
	position:relative;
	
}
.logout-nav{float:right;

}

.admin-nav{margin-left:50%;

}

.container-nav{width:100%;
		margin:0;
		position:fixed;
		z-index:2;
}

.headline{color:white;
	font-size:30px;
	text-align:center;
	font-family:charcoal;
	font-weight:bold;
	line-height:70px;

}
 

/* colorfull headline
.headline{color:white;
	background-image: linear-gradient(to left,violet,indigo,blue,green,yellow,orange,red);	
	margin-right:20px;	
	font-size:51px;
	font-family:charcoal;
	font-weight:bold;}
*/


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a { 
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: grey;
}

	/*Body side */

body {
        background: url('/static/img/rainbow.jpg') no-repeat center center fixed;
	position:absolute;
	width:100%;
	height:150%;
	margin:0;
}


	

/* Paragraph style */

.main-title{background-color:rgba(255,255,255,0.9);
	position:absolute;
	top:20%;
	left:21%;
	width:25%;
	max-width:25%;
	height:30%;
	max-height:50%;
	padding:0.5% 1% 0.5% 1%;
	border:2px green solid;
	overflow:auto;
	text-align:justify;

}
.main-title:hover{box-shadow:1px 1px 3px 3px blue;
	transition: box-shadow 0.3s;
}

.h1 {	color:black;
	position:relative;
	text-align:center;
	font-size:150%;

}
.p1{color:black;
	text-align:center;
	font-family:arail;
	font-size:90%;		
	position:relative;
}


.second-title {background-color:rgba(255,255,255,0.9);
	position:absolute;
	top:20%;
	left:49%;
	width:25%;
	max-width:25%;
	height:30%;
	max-height:50%;
	padding:0.5% 1% 0.5% 1%;
	border:2px green solid;
	overflow:auto;
	text-align:justify;

}


.second-title:hover{box-shadow:1px 1px 3px 3px green;
	transition: box-shadow 0.3s;
}

.second-title h2{color:red;
	font-family:arail;
	font-size:150%;
	position:relative;
	line-height:0.5em;
	text-align:center;

}

.p2{color:black;
	text-align:center;
	font-family:arail;
	font-size:20px;	
	
	

}


.third-title {background-color:rgba(255,255,255,0.9);
	position:absolute;
	top:52%;
	left:20%;
	width:55%;
	max-width:55%;
	height:15%;
	max-height:50%;
	padding:0.5% 1% 0.5% 1%;
	border:2px green solid;
	overflow:auto;
	text-align:justify;

}

.third-title:hover{box-shadow:1px 1px 3px 3px red;
	transition: box-shadow 0.2s
}


.third-title h3{color:black;
	font-family:arail;
	text-align:center;
	font-size:20px;
	line-height:0.5em;
	position:relative;

}

.p3{color:black;
	text-align:center;
	font-family:arail;
	font-size:18px;		
	position:relative;

}


/*Photos side */

.mySlides {display: none}
img {vertical-align: middle;
	max-height:5%;
}

/* Slideshow container */
.slideshow-container {
  	top:70%;
	left:35%;
	max-height:10%;
	max-width:31%;
  	position: absolute;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}





/* social media section */

@keyframes slidin {
	from {
		margin-left:100%;
		width: 5%;
	}
	to {
		margin-left:0%;
		width:5%;
	}
}
.facebook{color:blue;background-color:white;
	position:fixed;
	left:0%;
	top:250px;
	width:4.5%;
	margin-left:0%;
	border: 5px blue double;
	border-radius:6px;
	font-weight:bold;
	font-size:18px;
	text-decoration:none;
	padding: 5px 15px 5px 5px;
	animation-name:slidin;
	animation-duration:1s;
		
}

.instagram {color:white;background:linear-gradient(to right,darkviolet,red,yellow);
	position:fixed;
	left:0%;
	top:300px;
	width:90px;
	margin-left:0px;
	border: 5px white double;
	border-radius:6px;
	font-weight:bold;
	font-size:18px;
	text-align:center;
	text-decoration:none;
	padding: 5px 15px 5px 5px;
	animation-name:slidin;
	animation-duration:1.5s;
		
}

.youtube {color:white;background:red;
	position:fixed;
	left:0%;
	top:350px;
	width:90px;
	margin-left:0px;
	border: 5px white double;
	border-radius:6px;
	font-weight:bold;
	font-size:18px;
	text-align:center;
	text-decoration:none;
	padding: 5px 10px 5px 10px;
	animation-name:slidin;
	animation-duration:2s;
		
}

.down-nav {background:black;
	position:absolute;
	bottom:0;
	width:100%;
	height:51px;

}
.powered-by {color:white;
	position:relative;
	left:40px;
	top:12px;	
	font-weight:bold;
	font-size:100%;
	animation-name:slidin;
	animation-duration 2s;
	
}


@keyframes admin {
	from {
		margin-left:100%;
		width: 50%;
	}
	to {
		margin-left:43%;
		width:15%;
	}
}

.welcome-admin {color:red; 
		top:50%;
		left:40%;
		width:25%;
		position:absolute;
		font-size:80px;		
		padding: 5px 5px 5px 5px;
		border:5px red solid;
  		border-radius: 30%;
		text-align:center;
		font-weight:bold;
		overflow:hidden;
		animation-name:admin;
		animation-duration 2s;


}


/* Associate information  */

.addres-tel {background-color:white;
	position:absolute;
	top:20%;
	left:35%;
	width:30%;
	max-width:30%;
	max-height:5%;
	padding:1%;
	border:4px black solid;
	overflow:auto;
	text-align:center;
}

		
.open-times-az  {background-color:white;
	position:absolute;
	top:30%;
	left:35%;
	width:30%;
	max-height:5%;
	padding:1%;
	border:4px black solid;
	overflow:auto;
	text-align:center;
}

.about-az  {background-color:white;
	position:absolute;
	top:40%;
	left:35%;
	width:30%;
	max-height:18%;
	padding:1%;
	border:4px black solid;
	overflow:auto;
	text-align:justify;
}





