
{% extends 'ext.html' %}
{% block nav %}




<p class="addres-tel">

Address:

Conni inc.
Rudolf Leonhard Strasse 39
01097 Dresden
Phone

Bar: 0351-899 60 454
Office: 0351-804 58 58

Contactcafé: 0351-89960452
Kindergarden: 0351-899 60 453

</p>

<p class="open-times-az">
Office: Mo – Thu from 9 am till 5 pm, Fr 9 am till 3 pm
Bar: Wed from 5 pm
Events as announced at Dates
<p/>

<p class="about-az">
This plenary meeting is your first drop-in point if you would like to introduce yourself in the project AZ Conni and the place for event inquiries of every kind. We are a relatively small group, who organizes the cultural events and runs the bar, and we are glad about support!
The inquiries which are introduced in the plenary meeting should contain the following information: name of the event, appointment wish, prospective costs (travel expenses, fee, decoration, advertisement etc.) We are happy to help with the realisation of events, however, we do not serve as a provider for external event managers.

</p>




{% endblock %}

