{% extends 'ext.html' %}
{% block nav %}

		<div class="main-title">
			<h2 class="top-title">{{ posts.title  }}</h2>
			<p class="p1">{{ posts.content  }}</p>
		</div>


			<div class="second-title">
			<h2>Tackle Writers Block</h2>
			<p>

			</p>
			</div>

			<div class="third-title">
		

			<h3>Writing Challenge</h3>
			<p class="p3">
			
			</p>
			</div>
			<!--photo img slider -->
			
			<div class="slideshow-container">

				<div class="mySlides fade">
				  <img src="/static/img/1.jpg">
				</div>
				<div class="mySlides fade">
				  <img src="/static/img/2.jpg">
				</div>
				<div class="mySlides fade">		
				  <img src="/static/img/3.jpg">	
				</div>
			</div>
				<div style="text-align:center">
				  <span class="dot" onclick="currentSlide(1)"></span> 
				  <span class="dot" onclick="currentSlide(2)"></span> 
				  <span class="dot" onclick="currentSlide(3)"></span> 
				</div>
			<script src="/static/script.js"></script>

	 <!-- Slideshow container END -->
			<!-- social media section -->
			<a class="facebook" href="https://de-de.facebook.com/pg/CSD.Dresden/posts/">Facebook</a>
			<a class="instagram" href="https://www.instagram.com/queerpridedd/?hl=en">Instagram</a>
			<a class="youtube" href="https://www.youtube.com/watch?v=EUj5YSf9GuY">YouTube</a>
			
		<!-- Social media end -->

		</body>


{% endblock %}
