{% extends 'ext.html'%}

{% block nav %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css')}}">

	<div class="login-section">
		<form method="POST" action= ''>
			{{ form.hidden_tag() }}
			<div class="form-group">
				<legend class="legend">Login</legend>
					<br>
					{{ form.password(class="inputform")}}
					</br>
					<br>
					{{ form.email(class="inputform")}}
					</br>
					<br>
					{{ form.submit(class="submitform")}}
					</br>

			</div>
{% endblock nav %}
